<div class="container mt-2">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold huge fw-900">
      Clientes&nbsp;<span class="h4 text-orange-btds fw-700"> Gerente</span>
    </h1>
    <div class="d-flex">
      <div class="me-3">
        <h5 class="m-0 text-orange-btds">
          Nome:
          <span>
            <input
              type="text"
              class="form-control input-btds m-0"
              (input)="filterContas()"
              [(ngModel)]="nomeFiltro"
            />
          </span>
        </h5>
      </div>
      <div>
        <h5 class="m-0 text-orange-btds">
          CPF:
          <span>
            <input
              type="text"
              placeholder="000.000.000-00"
              mask="000.000.000-00"
              class="form-control input-btds m-0"
              (input)="filterContas()"
              [(ngModel)]="cpfFiltro"
            />
          </span>
        </h5>
      </div>
    </div>
  </div>
  <div class="row d-inline-flex mt-3"></div>
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="text-start mt-3 d-flex justify-content-center">
        <table class="btds-borda-1 btds-shadow-50">
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Limite</th>
              <th>Gerente</th>
              <th>Saldo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let conta of contasFiltradas">
              <td>{{ conta.cliente.nome }}</td>
              <td>{{ conta.cliente.cpf | mask : "000.000.000-00" }}</td>
              <td>{{ conta.limite | formataMoedaReal }}</td>
              <td>{{ conta.gerente.nome }}</td>
              <td>{{ conta.saldo | formataMoedaReal }}</td>
              <td class="d-flex justify-content-center align-items-center">
                <button
                  class="btn-btds me-2"
                  [routerLink]="['/gerente/cliente', conta.cliente.cpf]"
                >
                  <i class="bi bi-eye bg-off"></i> Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
