.borda {
  border: 1.5px solid orange
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10rem;
}


.laranja {
  color: orange;
  background-color: none;
  text-decoration: none; 

}

tr:hover td{
  background-color: #eee;
}

th, td {
  overflow: hidden;
  text-align: center;
  /* margin: 1rem; */
  padding: 14px;
  padding-left: 20px; 
  padding-right: 20px; 
  border-color: transparent;
  background-color: transparent;
  white-space: nowrap;
}
th {
  border: 0;
  font-size: large;
  color: #f98316;
  padding-bottom: 14px;
}
td{
  border-top: 1px solid #ddd;
}

table{
  border-spacing: 0;
  width: 100%;
  padding: 1.4rem;
  padding-top: 0.4rem;
  text-align: center;
  border-radius: 25px;
  border-collapse: inherit;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.saida {
  color: red;
}

.entrada {
  color: blue;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}

.custom-btn-group {
  display: flex;
  align-items: center;
}

.custom-btn-group a {
  margin-right: 5px; /* Ajuste conforme necessário */
}

.botao-adicionar-cliente {
  background-color: #ff7f00 ;
  border: 1px solid #ff7f00;
  color: white; /* altere a cor do texto conforme necessário */
  padding: 5px 10px; /* ajuste o preenchimento conforme necessário */
  border-radius: 5px; /* ajuste o raio da borda conforme necessário */
  text-decoration: none; /* remova a decoração do texto, se necessário */
}

.botao-adicionar-cliente:hover {
  background-color: orange;; /* altere a cor de fundo quando o mouse passar por cima, se desejar */
  border-color: orange;; /* altere a cor da borda quando o mouse passar por cima, se desejar */
}

btds-shadow-50{
  box-shadow: 0 3px 20px rgba(249, 131, 22, 0.5) !important;
}

